/* ============================================================================
Label
============================================================================= */

.label,
label {
  @apply tw:cursor-default;
}

label > span,
.label .label__text {
  @apply tw:inline-block tw:mb-1.5 tw:text-sm;
}

label .label__text > span,
.label .label__text > span {
  @apply tw:ml-1 tw:text-red-500;
}


/* ============================================================================
Input
============================================================================= */

input[type="text"].textInput, input[type="password"].textInput {
  @apply tw:h-12 tw:px-4 tw:py-2.5 tw:text-base tw:rounded-lg tw:bg-gray-100;
}

input.textInput.slim {
  @apply tw:h-8 tw:px-2;
}

input[type="text"].textInput:focus, input[type="password"].textInput:focus {
  @apply tw:outline-rtoc-purple-500;
}

/* Checkbox */
input[type="checkbox"] {
  @apply tw:h-0 tw:w-0 tw:opacity-0 tw:cursor-pointer tw:absolute;
}

.input__checkbox-container {
  @apply tw:pl-6 tw:relative tw:cursor-pointer tw:select-none;
}

.input__checkbox-container .input__checkmark {
  @apply tw:h-6 tw:w-6 tw:border-2 tw:border-rtoc-purple-500 tw:rounded-md tw:absolute tw:top-0 tw:left-0;
}

input[type="checkbox"]:checked + .input__checkmark {
  @apply tw:bg-rtoc-purple-500;
}

input[type="checkbox"] + .input__checkmark:after {
  @apply tw:hidden tw:h-3 tw:w-[7px] tw:border-white tw:border-r-[3px] tw:border-b-[3px] tw:rotate-45 tw:absolute tw:top-0.5 tw:left-1.5;

  content: "";
}

input[type="checkbox"]:checked + .input__checkmark:after {
  @apply tw:block;
}

/* Radio Button */
.radio-group .input__radio-wrapper:not(:last-child) {
  @apply tw:pr-4;
}

input[type="radio"] {
  @apply tw:h-0 tw:w-0 tw:opacity-0 tw:cursor-pointer tw:absolute;
}

.input__radio-wrapper {
  @apply tw:pl-7 tw:relative tw:cursor-pointer tw:select-none;
}

.input__radio-wrapper .input__radio {
  @apply tw:h-5 tw:w-5 tw:border-2 tw:border-gray-300 tw:rounded-full tw:absolute tw:top-0 tw:left-0;
}

input[type="radio"]:checked + .input__radio {
  @apply tw:border-rtoc-purple-500;
}

input[type="radio"] + .input__radio:after {
  @apply tw:hidden tw:h-2.5 tw:w-2.5 tw:mx-auto tw:rounded-full tw:bg-rtoc-purple-500 tw:absolute tw:-translate-y-1/2 tw:top-1/2 tw:left-0 tw:right-0;

  content: "";
}

input[type="radio"]:checked + .input__radio:after {
  @apply tw:block;
}

/* ============================================================================
Button
============================================================================= */

.btn {
  @apply tw:px-7
  tw:py-3
  tw:text-lg
  tw:text-white
  tw:font-semibold
  tw:rounded-2xl
  tw:bg-rtoc-purple-500
  tw:cursor-pointer
  tw:hover:brightness-75;
}

.btn.btn--small {
  @apply tw:px-3.5 tw:py-1 tw:text-sm tw:rounded-lg;
}

.btn.btn--secondary {
  @apply tw:text-rtoc-purple-500 tw:font-normal tw:bg-gray-100
}

.btn.btn--hollow {
  @apply tw:px-6 tw:py-2 tw:text-rtoc-purple-500 tw:border-2 tw:border-rtoc-purple-500 tw:bg-transparent tw:hover:bg-gray-100;
}

.btn.btn--hollow.btn--hollow-sm {
  @apply tw:px-4 tw:py-1.5 tw:font-medium tw:rounded-xl
}

.btn.btn--clear {
  @apply tw:p-0 tw:bg-transparent tw:text-rtoc-purple-500;
}

.btn-radio-group input[type="radio"] {
  @apply tw:h-0 tw:w-0 tw:opacity-0 tw:cursor-pointer tw:absolute;
}

.btn-radio-group input[type="radio"] + button {
  @apply tw:text-gray-500 tw:bg-gray-100;
}

.btn-radio-group input[type="radio"]:checked + button {
  @apply tw:text-white tw:bg-rtoc-purple-500;
}
