/* ============================================================================
Matrix
============================================================================= */

/* Table */
.matrix-table {
  @apply tw:xl:w-full tw:w-[1280px] tw:text-left;
}

.matrix-table td,
.matrix-table th {
  @apply tw:first:pr-4 tw:pl-2 tw:last:pr-2 tw:py-2 tw:align-top;
}

.matrix-table tr {
  @apply tw:border-b tw:border-gray-300;
}

.matrix-table__col-lg {
  @apply tw:w-96;
}

.matrix-table__col-md {
  @apply tw:w-48;
}

/* Matrix */
.matrix {
  @apply tw:xl:w-[1280px] tw:w-full tw:rounded-lg;
}

.matrix__section {
  @apply tw:px-4 tw:pb-2.5 tw:bg-gray-100 tw:xl:overflow-x-visible tw:overflow-x-auto;
}
