@import "tailwindcss" prefix(tw);
@import "./assets/css/forms.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-rtoc-purple-200: rgb(240, 230, 248);
  --color-rtoc-purple-500: rgb(93, 55, 113);


}

html,
body {
  @apply tw:h-full tw:w-full tw:text-gray-500;
}

h1 {
  @apply tw:text-[42px] tw:text-gray-700 tw:font-semibold;
}

h2 {
  @apply tw:text-[32px] tw:font-semibold tw:text-rtoc-purple-500;
}

.step {
  @apply tw:w-full tw:text-sm tw:relative;
}

.step:before {
  @apply tw:block tw:h-1.5 tw:w-full tw:rounded-4xl tw:bg-rtoc-purple-200;

  content: "";
}

.step--active:before {
  @apply tw:bg-rtoc-purple-500;
}
