@import "tailwindcss" prefix(tw);

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-rtoc-purple-200: rgba(240, 230, 248, 1);
  --color-rtoc-purple-500: rgba(93, 55, 113, 1);


}

html,
body {
  @apply tw:h-full tw:w-full tw:text-gray-500;
}

h1 {
  @apply tw:text-[42px] tw:text-gray-700 tw:font-semibold;
}

h2 {
  @apply tw:text-[32px] tw:font-semibold tw:text-rtoc-purple-500;
}

label {
  @apply tw:text-sm;
}

input[type="text"], input[type="password"] {
  @apply tw:px-4 tw:py-3 tw:text-base tw:rounded-lg tw:bg-gray-100;
}

input[type="checkbox"] {
  @apply tw:h-0 tw:w-0 tw:opacity-0 tw:cursor-pointer tw:absolute;
}

.input__checkbox-container {
  @apply tw:pl-6 tw:relative tw:cursor-pointer tw:select-none;
}

.input__checkbox-container .input__checkmark {
  @apply tw:h-6 tw:w-6 tw:border-2 tw:border-rtoc-purple-500 tw:rounded-md tw:absolute tw:top-0 tw:left-0;
}

input[type="checkbox"]:checked + .input__checkmark {
  @apply tw:bg-rtoc-purple-500;
}

input[type="checkbox"] + .input__checkmark:after {
  @apply tw:hidden tw:h-3 tw:w-[7px] tw:border-white tw:border-r-[3px] tw:border-b-[3px] tw:rotate-45 tw:absolute tw:top-0.5 tw:left-1.5;

  content: "";
}

input[type="checkbox"]:checked + .input__checkmark:after {
  @apply tw:block;
}

button.btn {
  @apply tw:px-7
  tw:py-3
  tw:text-white
  tw:font-semibold
  tw:rounded-2xl
  tw:bg-rtoc-purple-500
  tw:cursor-pointer
  tw:hover:brightness-150
  tw:active:brightness-75;
}

button.btn.btn--hollow {
  @apply tw:text-rtoc-purple-500 tw:border-2 tw:border-rtoc-purple-500 tw:bg-transparent;
}

button.btn.btn--clear {
  @apply tw:p-0 tw:bg-transparent tw:text-rtoc-purple-500;
}

.btn-radio-group input[type="radio"] {
  @apply tw:h-0 tw:w-0 tw:opacity-0 tw:cursor-pointer tw:absolute;
}

.btn-radio-group input[type="radio"] + button {
  @apply tw:text-gray-500 tw:bg-gray-100;
}

.btn-radio-group input[type="radio"]:checked + button {
  @apply tw:text-white tw:bg-rtoc-purple-500;
}

.step {
  @apply tw:text-sm tw:relative;
}

.step:before {
  @apply tw:hidden tw:h-1.5 tw:w-full tw:rounded-4xl tw:bg-rtoc-purple-500;

  content: "";
}

.step--active:before {
  @apply tw:block;
}
